:root{
    --branco-fontes: #ffffff;
    --cinza-fontes: #8c8c8c;
    
}



body{
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
    color: var(--branco-fontes);
    scroll-behavior: smooth;
}

.textos_secundarios{
    color: var(--cinza-fontes);
}

/* Sessão do NavBar */
.section_navegacao{
    width: 40%;
    position: fixed;
    top: 0.75rem;
    left:50%;
    border-radius: 2.3rem;
    height: 2.1rem 0;
    padding: 0.2rem 0;
    z-index: 998;
    transform: translateX(-50%) translateY(0rem);
    background-color: #262626;
   
	
}

.section_navegacao a{
    text-decoration: none;
    color: var(--branco-fontes);
    font-size: 1.5rem;
    text-align: center;
    color: var(--cinza-fontes);
}

.section_navegacao a{
    width: 20%;
    display: flex;
    align-items: center;
    height: 4rem;
    justify-content: center;
    border-radius: 2.3em;
    padding: 0 1rem;
    transition: background-color 900ms;
}


.section_navegacao ul{
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
}

.section_navegacao a:hover {
    color: var(--branco-fontes);
    background-color: var(--cinza-fontes);
}


/* Sessão do NavBar */

/* Sessão sobre */

.section_apresentacao {
    width: 40%;
    display: block;
    margin: 5em auto;
    text-align: center;
}

.cabecalho_sobre{
    margin-top: 7rem;
}
.cabecalho_sobre h2{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.cabecalho_sobre h1{
    font-size: 6.5rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
}
.cabecalho_sobre h1:hover{
    text-decoration: underline  ;
}

.cabecalho_sobre p {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.grid_imagem_principal{
    font-size: 1.5rem;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.grid_imagem_principal a{
    width: 20%;
    color: var(--branco-fontes);
    text-decoration: none;
    transition: font-size 600ms;
}


.grid_imagem_principal a img{
    width: 60px;
}

.grid_imagem_principal ul {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.imagem_perfil{
    border-radius: 40rem    ;
    width: 65vh;
}

.transition_border-radius {
    transition: border-radius 600ms;
    transition: width 600ms;
}

.transition_border-radius:hover{
    border-radius: 10rem;
    width: 70vh;
}


.transition_links{
    transition: width 1s;

}
.transition_links li a img:hover{
  width: 80px;
}

.grid_imagem_principal a:hover{
    font-size: 2rem;
}

.texto_apresentacao {
    margin: 2rem auto;
    color: var(--cinza-fontes);
    font-size: 1.5rem;
    text-align: justify;
}

/* Sessão sobre */